doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title AgoraBot
		link(href='/public/bundle.css', rel='stylesheet')
	body
		.container
			.main-title.text-center
				| AgoraBot
			hr
			.row
				.col-sm-7.col-md-8
					.embed-responsive.embed-responsive-16by9
						img(width="100%", src="/public/img/16-9.png")
						//iframe.embed-responsive-item(height="100%", src="http://www.youtube.com/embed/MYZ67-Sh7kM?enablejsapi=1")
				.col-sm-5.col-md-4
					.form-group
						#chartWrapper
							img#chartLoading(src="/public/img/loading.gif")
					.form-group
						select.form-control
							option Move forward
							option Turn right
							option Turn left
							option Turn right backward
							option Turn left backward
					.form-group.text-center
						button#voteBtn.btn.btn-primary
							i#voteIcon.fa.fa-paper-plane
							| &nbsp;&nbsp;Vote
			hr
			.row
				.col-sm-12
					p.text-muted.text-center
						//span.pull-left Droite
						| AgoraBot
						//span.pull-right Gauche
		script(src='/public/bundle.js')
