doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title AgoraBot
		link(href='/public/bundle.css', rel='stylesheet')
	body
		.container
			.main-title.text-center
				| AgoraBot
			hr
			.row
				#alerts.col-sm-12
			.row
				.col-sm-7.col-md-8
					.embed-responsive.embed-responsive-16by9
						img(width="100%", src="/public/img/16-9.png")
						//iframe.embed-responsive-item(height="100%", src="http://www.youtube.com/embed/MYZ67-Sh7kM?enablejsapi=1")
				.col-sm-5.col-md-4
					.form-group
						#chartWrapper
							img#chartLoading(src="/public/img/loading.gif")
					.form-group
						select#voteSelect.form-control
							option(value="") No vote
							option(value="MOVE_FORWARD") Move forward
							option(value="TURN_RIGHT") Turn right
							option(value="TURN_LEFT") Turn left
							option(value="TURN_RIGHT_BACKWARD") Turn right backward
							option(value="TURN_LEFT_BACKWARD") Turn left backward
					.form-group.text-center
						button#voteBtn.btn.btn-primary
							i#voteIcon.fa.fa-cog.fa-spin(disabled)
							| &nbsp;&nbsp;Vote
					.form-group.text-center
						p
							| You're voting for&nbsp;
							strong#voteIndicator
			hr
			.row
				.col-sm-12
					p.text-muted.text-center
						//span.pull-left Droite
						| AgoraBot
						//span.pull-right Gauche
		script(src='/public/bundle.js')
