doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title AgoraBot
		link(href='/public/bundle.css', rel='stylesheet')
	body
		.container
			.main-title.text-center
				| AgoraBot
			hr
			.row
				.col-md-6.col-sm-7
					h3 Video
				.col-md-6.col-sm-5
					h3 Vote
			hr
			.row
				.col-sm-12
					p.text-muted.text-center
						//span.pull-left Droite
						| © 2017 AgoraBot
						//span.pull-right Gauche
		script(src='/public/bundle.js')
